.container {
  margin-top: 20px;
}

mat-card {
  max-width: 960px;
  margin: auto;
}

mat-table {
  width: 100%;
}

.mat-row:hover {
  background-color: whitesmoke;
}

/*.mat-column-id {
  flex: 0 0 10%;
}

.mat-column-edit {
  flex: 0 0 10%;
}*/
